/*UTILITY CLASSES*/
.m-top-5 { margin-top:5px; }
.m-top-7 { margin-top:7px; }
.m-top-10 { margin-top:10px; }
.m-top-15 { margin-top:15px; }
.m-top-17 { margin-top:17px; }
.m-top-30 { margin-top:30px; }

.margin-top {
    margin-top: 1em;
}

#codigo {
    position: relative;
    width: 60em;
    height: 30em;
    border: 1px solid grey;
}

#codigo-area {
    display: none;
}
