@(codigo: Long)

@inputText(nome: String, placeholder: String, group: String) = {
  <label for="@group">@placeholder</label>
  <textarea rows="4" cols="50" class="form-control" name="@nome" id="@group"></textarea>
}

@main("Responder questão") {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Questão @{codigo}</h2>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              Descrição: foepwkfpowkopfekwpofkpewfkpoewpofekwpofkepwo
            </div>
          </div>

          <div class="row m-top-15">
            <form action="/contatos" method="post">
              <fieldset class="form-group col-xs-6">
                @inputText("resposta", "Resposta", "formGroupExampleInput")
                <div class="m-top-15">
                  <input type="submit" class="btn btn-success" value="Enviar resposta">
                  <a href="/homea">
                    <button type="button" class="btn btn-default">Voltar</button>
                  </a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

}
