@()

@inputText(nome: String, placeholder: String, group: String, classTag: String) = {
  <label class="@classTag" for="@group">@placeholder</label>
  <input type="text" class="form-control" name="@nome" id="@group" placeholder="@placeholder">
}

@main("Cadastrar questão") {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Editar questão</h2>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12">
          <div class="row m-top-15">
            <form action="/contatos" method="post">
              <fieldset class="form-group col-xs-6">
                @inputText("enunciado", "Enunciado", "formGroupExampleInput", "m-top-15")
                @inputText("descricao", "Descrição", "formGroupExampleInput", "m-top-15")
                @inputText("testes", "Testes", "formGroupExampleInput", "m-top-15")
                <div class="m-top-15">
                  <input type="submit" class="btn btn-success" value="Cadastrar">
                  <a href="/homep">
                    <button type="button" class="btn btn-default">Voltar</button>
                  </a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

}
