@()

@inputText(nome: String, placeholder: String, group: String) = {
  <label for="@group">@placeholder</label>
  <input type="text" class="form-control" name="@nome" id="@group" placeholder="@placeholder">
}

@main("Criar Contato") {
  <div class="container">
    <form action="/contatos" method="post">
      <legend> Informe os dados </legend>
      <fieldset class="form-group col-xs-4">

        @inputText("nome", "Nome", "formGroupExampleInput")
        @inputText("email", "E-mail", "formGroupExampleInput2")
        @inputText("telefone", "Telefone", "formGroupExampleInput3")

        <input type="submit" class="btn btn-primary" name="Criar" value="Criar">
      </fieldset>
    </form>
  </div>

}

