@(name: String)(implicit flash: Flash)

@main("Bem vindo!") {
  <div class="container">
    @flash.get("sucesso").map { mensagem =>
          <div class="alert alert-success" role="alert">@mensagem</div>
        }.getOrElse("")

        <div class="row">
          <div class="row">
            <div class="col-md-4 col-md-offset-2">
              <h1>Olá, Gilson.</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <p>
                Lista de questões.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <a href="questoes/new">
                <button type="button" class="btn btn-primary">Nova Questão</button>
              </a>
            </div>
          </div>

          <div class="row m-top-30">
            <div class="col-md-8 col-md-offset-2">
              <table class="table table-hover">
                <tr>
                  <th>Enunciado</th>
                  <th>Descrição</th>
                  <th colspan="4">Resposta</th>
                </tr>
                <tr>
                  <td>teste</td>
                  <td>teste</td>
                  <td>teste</td>
                  <td>
                    <a href="/questao/1/edit">
                      <button type="button" class="btn btn-secondary">Editar</button>
                    </a>
                    <a href="/questao/1">
                      <button type="button" class="btn btn-danger">Remover</button>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>teste</td>
                  <td>teste</td>
                  <td>teste</td>
                  <td>
                    <a href="/questao/2/edit">
                      <button type="button" class="btn btn-secondary">Editar</button>
                    </a>
                    <a href="/questao/2">
                      <button type="button" class="btn btn-danger">Remover</button>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
  </div>
}
