@()

@main("Tela de Login") {
  <div class="container droppedHover">
    <form class="form-signin" role="form" method="get" action="/index">
        <h2 class="form-signin-heading" contenteditable="false">Login:</h2>
        <select class="form-control" name="usuario">
          <option name="usuario" value="Prof">Professor</option>
          <option name="usuario" value="Aluno">Aluno</option>
        </select>
      <input class="btn btn-lg btn-primary btn-block" name="logar" value="logar" type="submit"/>
    </form>
   </div>
 }

