@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@title | I Solved It That Way</title>
    @* THIRD-PARTY STYLES *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

    @* STYLES *@
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
</head>
<body>
    @content

    @* THIRD-PARTY SCRIPTS *@
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript" charset="utf-8"></script>

    @* SCRIPTS *@
</body>
</html>

